body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

hr {
  margin: 8px;
}

/* header */

header {
  z-index: 1;
}

.landingPage {
  /* height: 768px; */
  height: 100vh;
  width: 100%;
  background: url("/assets/images/landing_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  background-attachment: fixed;
}

.landingPage .navbar {
  /* background-color: white; */
  position: fixed;
  width: 100%;
  margin: auto;
  transition: 0.5s;
  display: flex;
  align-items: center;
  height: 9vh;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5px;
}

#navbar__logo {
  color: #3d5a27fa;
  background-size: 100%;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  letter-spacing: 0.09em;
  line-height: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding: 14px 22px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbar__item {
  height: 80px;
  letter-spacing: 0.1em;
}

.navbar__links {
  color: #3d5a27fa;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.navbar__links:hover {
  color: #2d3924fa;
  font-size: 22px;
  /* font-weight: 600; */
  transition: all 0.3s ease;
}

nav.sticky {
  background-color: #fff;
  padding: 2px 25px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

/* details-section */
.details {
  margin: 24px;
}

/* landing-section */
.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  aspect-ratio: 4/3;
  /* background-image: url("/assets/images/landing_bg.png");
  background-size: cover; */
  text-align: center;
}

.landing h1 {
  font-size: xx-large;
  font-family: "Jost", sans-serif;
  margin: 0 15%;
  padding: 24px;
  font-size: 35px;
  letter-spacing: 6px;
  text-align: justify;
  /* line-height: 70px; */
}

.landing-container {
  /* height: 768px; */

  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  /* padding: 36px 0; */
  width: 100%;
}

.mobile_no__input-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  /* padding: 4px 12px; */
  margin-left: -22px;
  margin-top: 23px;
}

.mobile_no__input-container input {
  background-color: transparent;
  border: none;
  /* font-size: large; */
  font-size: small;
  font-family: Rubik, sans-serif;
  letter-spacing: 0.1em;
  padding: 12px;
}

.mobile_no__input-container i {
  border-radius: 24px;
  padding: 12px 13px;
  margin-left: 24px;
  transition: all 0.1s ease-in-out;
}

.mobile_no__input-container i:hover {
  background-color: lightgray;
}

.mobile_no__input-container input:focus {
  outline: none;
}

.title-line {
  padding: 0px !important;
}

/* services-section */
.services__heading {
  font-size: xxx-large;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #3d5a27;
}

.services__info {
  font-family: "Montserrat", sans-serif;
  /* font-size:x-large; */
  color: #000000d5;
  font-size: 20px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
}

.services__service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 129px 0;
}

.services__service-container-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 12px 0;
}

.services__service-container-reverse-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services__service-container-reverse-image img {
  /* aspect-ratio: 16/9; */
  /* padding: 16px; */
  /* width: 100%; */
  object-fit: cover;
}

.services__service-container-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services__service-container-image img {
  /* height: 100%; */
  /* width: 100%; */
  object-fit: cover;
}

.services__service-container-info {
  /* margin: 36px; */
  flex: 1;
}

.services__service-container-info h1 {
  font-family: "Lato", sans-serif;
  font-size: xx-large;
  /* font-size: 32px; */
  font-family: "Lato", sans-serif;
  color: #3d5a27;
  margin: 0;
}

.services__service-container-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.75;
  color: #3c3c3ab8;
}

.services__service-container-info button {
  /* border: 2px solid black;
  border-radius: 32px;
  padding: 12px 24px;
  font-size: large; */
  height: 32.23px;
  width: 168px;
  clip-path: polygon(
    9% 1%,
    100% 0,
    100% 20%,
    101% 59%,
    92% 100%,
    20% 100%,
    0 100%,
    0% 30%
  );
  border: none;
  background-color: #3d5a27;
  color: #ffffff;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  z-index: -1;
}

.services__service-container-info button::before{
  background-color: white;
  border-color: #3d5a27;
  color: #3d5a27;
  cursor: pointer;
  transition: 0.1s all ease-in-out;

}

/* additional-features-section */
.additional-features__heading {
  font-size: xxx-large;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #3d5a27;
}

.additional-features__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.additional-features__card {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 24px;
  margin: 16px 8px;
  /* padding: 12px; */
}

.additional-features__card-image img {
  width: 100%;
}

.additional-features__card-heading {
  padding: 0 12px;
}

.additional-features__card-info {
  padding: 0px 12px;
}

/* blog-posts-section */
.blog-posts__heading {
  font-size: xxx-large;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #3d5a27;
}

.blog-posts__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-posts__card {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin: 12px;
}

.blog-posts__card-image img {
  width: 100%;
  aspect-ratio: 4/2.5;
}

.blog-posts__card p {
  font-size: large;
  padding: 8px 12px;
}

.blog-posts__card-button {
  display: flex;
  justify-content: center;
  margin: 43px;
}

.blog-posts__card-button button {
  /* background-color: #3d6121d4;
  border-color: #3d5a27;
  border-radius: 32px;
  color: white;
  padding: 12px 24px; */

  height: 32.23px;
  width: 168px;
  clip-path: polygon(
    9% 1%,
    100% 0,
    100% 20%,
    101% 59%,
    92% 100%,
    20% 100%,
    0 100%,
    0% 30%
  );
  border: none;
  background-color: #3d5a27;
  color: #ffffff;
  position: absolute;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
}

/* app-ad-section */
.app-ad {
  background-color: #d0d7cb;
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 !important; */
  margin-bottom: 50px;
}

.app-ad__image img {
  width: 100%;
}

.app-ad__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.app-ad__info p {
  font-size: xxx-large;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 1000;
}

.app-ad__info button {
  border-radius: 38px;
  font-size: xx-large;
  margin: 15px;
  text-align: center;
  padding: 12px 26px;
  color: white;
  background: black;
  font-family: "Jost", sans-serif;
}

.app-ad__info button:hover {
  border-radius: 38px;
  font-size: xx-large;
  margin: 15px;
  text-align: center;
  padding: 12px 26px;
  color: #151514;
  border-color: black;
  background: #e0e0df;
  font-family: "Jost", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* footer  */
.footer {
  background-color: #3d5a27;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 8px;
}

.footer ul li a {
  color: white;
  color: #ffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #cccccc;
}
.footer__col {
  text-align: center;
  flex-basis: 100%;
}

.social-media {
  display: flex;
  font-size: 1.4em;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-media :hover {
  cursor: pointer;
  color: black;
}

/* footer {
  background-color: #3d5a27;
  color: #fff;
  padding: 4rem 1rem;
  font-family: Montserrat, sans-serif;
}

footer a {
  color: #ffff;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #cccccc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 1 rem;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}

.footer-heading {
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  width: max-content;
  padding: 15px 10px;
  margin: 0 auto;
}

.footer-bottom {
  display: flex;
}

.copyright {
  margin-right: auto;
}

.footer-social {
  font-size: 20px;
  margin-left: 2rem;
}

.address-heading {
  margin-top: 2px;
}

.footer-column p {
  line-height: 34px;
  margin-top: -32px;
}

.social-media {
  display: flex;
  font-size: 1.4em;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5em;
}

.social-media i {
  padding: 2px 19px;
  color: white;
}

.social-media i:hover {
  cursor: pointer;
  color: black;
}

.contact-column {
  margin-top: -1.5rem;
} */
